body {
  font-family: "Poppins", sans-serif;
  padding-bottom: 200px;
  margin: 0;
}

div {
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

button {
  display: inline-block;
}

p {
  margin: 0;
}




button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

select {
  cursor: pointer;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  color: #1a181f;
}
h2 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #2f2f2f;
}

/*
  DIALOG:
*/

dialog {
  box-sizing: border-box;
  position: fixed;
  z-index: 1100;
  margin:  10px 10vw 90vw 10vw;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px rgb(39, 39, 39);
  background-color: #ededed;
}


.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2f2f2f;
  color: #ededed;
  border: none;
  width: 30px;
  height: 30px;
  border-top-right-radius: 5px;
  transition: all 0.15s;
}

.modal__close-button:hover {
  background-color: rgb(159, 19, 19);
}

.modal__title {
  font-weight: bold;
  color: rgb(136, 11, 11);
}

.strong-2 {
  color: rgb(0, 94, 255);
  font-weight: bold;
}

.strong-2:hover {
  color: rgb(88, 149, 255);
}